html {
	scroll-behavior: smooth;
}

#header {
    display:flex;
    align-items : start;
    top:0px;
    position:fixed;
    width: calc(100vw - (100vw - 100%));
    height : 10vh;
    background-color: rgba(17,17,17,0.7);
    border-bottom: 0.3vh solid rgba(34,34,34,0.7);
    z-index:9;
    text-align:center;
}
.logo {
    height: 6vh;
    width: 6vh;
    margin-top: 2vh;
    margin-left: 7vw;
}
.nav {
    margin-left: 2vw;
    margin-top: 4vh;

}
.nav li {
    display:inline;
}
.nav li a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1vw;
    font-size: 2vh;
    font-weight: 350;
    border: 1px solid;
    border-color: rgba(0,0,0,0);
    padding: 1vw;

    -moz-transition:color .4s ease;   
    -o-transition:color .4s ease;   
    -ms-transition:color .4s ease;   
    -webkit-transition:color .4s ease;   
    transition:color .4s ease;
}
.nav li a:hover { color:#DE0212; } 

.content div:first-child {
    /* width: calc(100vw - (100vw - 100%));
    height : 100vh; */
    background-image: url("https://jaram.net/img/background.jpg");
    filter: brightness(50%);
    background-size: cover;
    background-position: center;
}